= wrap_layout :layout do
  %section.container
    .article-header.column
      .article-title
        %h1= current_article.title

      %ul.article-meta
        %li.meta-text.article-author= current_article.data.author
        %li.meta-text &mdash;
        %li.meta-text.article-date= current_article.date.strftime("%b %d, %Y")

      %ul.article-meta
        - current_article.tags.each do |tag|
          %li.meta-tag= link_to "#{tag}", tag_path(tag)

      - if current_article.tags.include?("newsletter")
        %ul.article-links
          %li= link_to "Download", "/downloads/#{current_article.data.download}"
          %li= link_to "Subscribe", "http://ofreport.us6.list-manage.com/subscribe?u=1e0c65850b60905f65b151819&id=97b9f6a559"

  %section.wide-container
    .article-hero.column
      = image_tag "https://s3.amazonaws.com/images.ofreport.com/#{current_article.data.image}"
      .article-hero__caption
        %p.caption-text #{current_article.data.caption}

  %section.container--spacing
    .container
      .article-body.column
        = yield
        .to-God-be-the-glory
          = inline_svg "to-God-be-the-glory.svg"
