= wrap_layout :layout do
  %section.container
    .article-header.column
      .article-title
        %h1= current_article.title
      .article-meta
        %p.meta-text
          #{current_article.date.strftime("%b %d, %Y")}
          &mdash;
          #{current_article.data.author}
      %ul.article-links
        %li= link_to "Download", "#"
        %li= link_to "Subscribe", "http://ofreport.us6.list-manage.com/subscribe?u=1e0c65850b60905f65b151819&id=97b9f6a559"

  %section.wide-container
    .article-hero.column
      %img{src:"http://placehold.it/900x350"}

  %section.container--spacing
    .container
      .article-body.column
        = yield
