= wrap_layout :layout do
  %section.container.navbar-top-spacing
    .column.container--title-area
      .article-title
        %h1= current_article.title

      .article-meta
        - if current_article.data.author?
          .meta-author
            = twitter_link_for(current_article.data.author)

        %time.meta-date{datetime: "#{current_article.date}"}= current_article.date.strftime("%b %d, %Y")

        %ul.meta-tag-list
          - current_article.tags.each do |tag|
            %li.meta-tag-item= link_to "#{tag}", tag_path(tag)


  %section.wide-container
    - if current_article.data.image
      .article-hero.column
        = image_tag "https://s3.amazonaws.com/content.ofreport.com/#{current_article.data.image}"
        .article-hero__caption
          %p.caption-text #{current_article.data.caption}


  %section.container
    - if current_article.tags.include?("newsletter")
      .column.pdf-download
        %i.fa.fa-file-pdf-o
        = link_to "Download PDF", "https://s3.amazonaws.com/content.ofreport.com/downloads/#{current_article.data.download}"

    .article-body.column
      = yield

      - if current_article.tags.include?("newsletter")
        .to-God-be-the-glory
          = inline_svg "to-God-be-the-glory.svg"
