= wrap_layout :layout do
  %section.container--spacing
    .container
      .article-title.column
        %h1= current_article.title
        %p #{current_article.date} - #{current_article.data.author}
        %p #{link_to "Download", "#"} #{link_to "Subscribe", "#"}

  %section.wide-container
    .article-hero.column
      %p Hero image goes here.

  %section.container--spacing
    .container
      .article-body.column
        = yield
