!!!
%html
  %head
    = partial "partials/head_contents"

  %body.ofreport-home
    = partial "partials/navbar"
    %header.home-navbar
      .home-navbar__wrapper.container
        %nav.column
          %ul.home-navbar__links
            = partial "partials/nav_links"

    %main.content
      %section.wide-container.container--spacing
        .column
          .home-logo
            = link_to "/" do
              = inline_svg "ofr-logo-2017.svg", class: "home-logo__svg"
          .site-author
            %p by #{data.site.author}

      %section.narrow-container.container--spacing
        .column
          = partial "partials/subscribe_form"

      %section.container.container--spacing
        .column
          = yield

    = partial "partials/footer"
    = partial "partials/statcounter" if production?
