!!!
%html
  %head
    = partial "head-contents"

  %body
    %header.home-navbar
      .home-navbar__wrapper.container
        %nav.column
          %ul.home-navbar__links
            = partial "nav_links"

    %section.wide-container
      .column
        .home-logo
          = link_to "/" do
            = inline_svg "ofr-logo-2017.svg", class: "home-logo__svg"

    %section.container.container--spacing
      .column
        = yield

    -# #main{:role => "main"}
    -#   %h1 Main Layout
    -#   = lorem.words 45
    -#   %br
    -#   %br
    -#   = yield
    -# %aside
    -#   %h2 Recent Articles
    -#   %ol
    -#     - blog.articles[0...10].each do |article|
    -#       %li
    -#         = link_to article.title, article
    -#         %span= article.date.strftime("%b %e")
    -#   %h2 Tags
    -#   %ol
    -#     - blog.tags.each do |tag, articles|
    -#       %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
    -#   %h2 By Year
    -#   %ol
    -#     - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
    -#       %li= link_to "#{year} (#{articles.size})", blog_year_path(year)
