!!!
%html
  %head
    = partial "head-contents"

  %body
    %header.home-navbar
      %nav.home-navbar__wrapper.container
        %ul.home-navbar__links
          %li= link_to "Family", "#"
          %li= link_to "Ministry", "#"
          %li= link_to "Archives", "#"
          %li= link_to "Contact", "#"
          %li= link_to "Donate", "#"

    %section.wide-container
      %h1 This is where the logo goes.

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    %section.container
      %h1 This is where blog post summaries go.
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    -# #main{:role => "main"}
    -#   %h1 Main Layout
    -#   = lorem.words 45
    -#   %br
    -#   %br
    -#   = yield
    -# %aside
    -#   %h2 Recent Articles
    -#   %ol
    -#     - blog.articles[0...10].each do |article|
    -#       %li
    -#         = link_to article.title, article
    -#         %span= article.date.strftime("%b %e")
    -#   %h2 Tags
    -#   %ol
    -#     - blog.tags.each do |tag, articles|
    -#       %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
    -#   %h2 By Year
    -#   %ol
    -#     - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
    -#       %li= link_to "#{year} (#{articles.size})", blog_year_path(year)
