!!!
%html{ lang: "en" }
  %head
    = partial "partials/head_contents"

  %body
    = partial "partials/navbar"

    %main.content
      = yield

    = partial "partials/footer"
    = partial "partials/reftagger"
    = partial "partials/statcounter" if production?
