!!!
%html
  %head
    = partial "partials/head-contents"

  %body
    = partial "partials/navbar"

    .content
      = yield

    = partial "partials/footer"
    = partial "partials/analytics" if production?
