%footer.universal-footer
  .footer-top
    .footer-top__verse.wide-container
      %p
        But as we were allowed of God to be put in trust with the gospel, even so we speak;
        not as pleasing men, but God, which trieth our hearts. 1 Thessalonians 2:4

  .footer-middle
    .footer-links.narrow-container
      %ul.footer-links__left
        %li.footer-links__item= link_to "Family", "#"
        %li.footer-links__item= link_to "Ministry", "#"
        %li.footer-links__item= link_to "Archives", "#"
      %ul.footer-links__center
        %li.footer-links__item= link_to "Contact", "#"
        %li.footer-links__item= link_to "Subscribe", "#"
        %li.footer-links__item= link_to "Donate", "#"
      %ul.footer-links__right
        %li.footer-links__item= link_to "ETO", "#"
        %li.footer-links__item= link_to "Bible First", "#"
        %li.footer-links__item= link_to "CMO", "#"

  .footer-lower
    .footer-copyright
      %p.footer-copyright__jk &copy; 2017 Joshua and Kelsie Steele
      %p.footer-copyright__bf Bible First is a registered trademark of Euro Team Outreach, Inc.
