:ruby
  site_url = data.site.url
  site_title = data.site.title
  site_desc = data.site.description
  site_photo = data.site.current_family_photo
  site_asset_server = data.site.asset_server_url
  page_title = current_page.data.title.to_s
  page_path = current_page.path
  current_env = config[:environment].to_s
  og_url = site_url
  og_title = site_title
  og_desc = site_desc
  og_default_image = site_asset_server + image_path(site_photo)

= tag "meta", charset: "utf-8"
= tag "meta", content: "IE=edge", "http-equiv" => "X-UA-Compatible"
= tag "meta", content: "width=device-width, initial-scale=1.0", name: "viewport"
= tag "meta", name: "robots", content: smart_robots(page_path, current_env)
= tag "meta", name: "author", content: "Joshua Steele"
= tag "meta", name: "description", content: site_desc

- if content_for?(:og_tags)
  = yield_content :og_tags
- else
  = tag "meta", property: "og:url", content: site_url
  = tag "meta", property: "og:type", content: "blog"
  = tag "meta", property: "og:title", content: og_title
  = tag "meta", property: "og:description", content: og_desc
  = tag "meta", property: "og:image", content: og_default_image

%title= full_title(page_title, site_title)
= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
= favicon_tag "favicon.ico"
= tag "link", rel: "apple-touch-icon", href: image_path("apple-touch-icon.png")
= stylesheet_link_tag :site
= javascript_include_tag :bundle, async: !development?
= partial "partials/analytics" if production?
