---
title: Contact
desc: Need to get in touch? Drop us a line!
---

:ruby
  site_url = data.site.url
  site_photo = data.site.current_family_photo
  site_asset_server = data.site.asset_server_url
  page_title = current_page.data.title.to_s
  og_url = site_url + current_page.url
  og_desc = current_page.data.desc
  og_default_image = site_asset_server + image_path(site_photo)

- content_for :og_tags do
  = tag "meta", property: "og:url", content: og_url
  = tag "meta", property: "og:type", content: "blog"
  = tag "meta", property: "og:title", content: page_title
  = tag "meta", property: "og:description", content: og_desc
  = tag "meta", property: "og:image", content: og_default_image

%section.container.navbar-top-spacing
  .column
    .contact-title.container--title-area
      %h1 Hello!

    .contact-subtext
      %p
        Need to get in touch? Drop us a line!

%section.narrow-container.container--spacing
  .column
    .contact-form
      %form{ action: "https://formspree.io/#{data.site.contact_email}",
             method: "POST" }
        %input{ name: "full_name", type: "text", required: "",
                placeholder: "What is your name?", maxlength: "100" }
        %input{ name: "_replyto", type: "email", required: "",
                placeholder: "What is your email?", maxlength: "100" }
        %textarea{ name: "message", cols: "30", rows: "10", required: "",
                placeholder: "What would you like to say?", maxlength: "3000" }
        %input{ name: "_subject", type: "hidden",
                value: "[OFReport.com] New Contact Request" }
        %input{ name: "_next", type: "hidden",
                value: "http://#{data.site.human_url}/contact/thanks/" }
        %input{ name: "_gotcha", style: "display:none", type: "text" }
        %input{ name: "_format", style: "display:none", type: "text",
                value: "plain" }
        %input{ type: "submit", value: "Send" }
