---
title: Donate
desc:
  If you would like to make a financial contribution, please choose from one of
  the following options.
---

- content_for :og_tags do
  - og_image = image_path(data.site.current_family_photo)
  - og_root = "http:" + data.site.content_server_url

  = tag "meta", property: "og:url", content: data.site.url + current_page.url
  = tag "meta", property: "og:type", content: "blog"
  = tag "meta", property: "og:title", content: current_page.data.title
  = tag "meta", property: "og:description", content: current_page.data.desc
  = tag "meta", property: "og:image", content: og_root + og_image

%section.container.navbar-top-spacing.container--spacing
  .column
    .donate-title.container--title-area
      %h1 How to Donate

    .donate-content
      = partial "markdown/donate"
