---
title: The Steele Family
desc:
  Joshua and Kelsie are missionaries enjoying life as best friends, serving
  their Savior, and raising up their children to honor Him.
---

- content_for :og_tags do
  = tag "meta", property: "og:url", content: data.site.url + current_page.url
  = tag "meta", property: "og:title", content: current_page.data.title
  = tag "meta", property: "og:description", content: current_page.data.desc
  = tag "meta", property: "og:image",
    content: image_path(data.site.current_family_photo)

%section.container.navbar-top-spacing
  .family-title.column.container--title-area
    %h1 Pleased to meet you!

%section.wide-container
  .family-hero.hero-image.column
    = image_tag data.site.current_family_photo

    .family-hero__caption.hero-image__caption
      %p.caption-text
        The Steele Family<br>Joshua, Kelsie, Abigail, Rebekah, Hosanna, Kathryn, David

%section.container.container--spacing
  .column
    .family-bio
      = partial "markdown/family"
