---
title: The Steele Family
desc:
  Joshua and Kelsie are missionaries enjoying life as best friends, serving
  their Savior, and raising up their children to honor Him.
---

:ruby
  site_url = data.site.url
  site_photo = data.site.current_family_photo
  site_asset_server = data.site.asset_server_url
  page_title = current_page.data.title.to_s
  og_url = site_url + current_page.url
  og_desc = current_page.data.desc
  og_default_image = site_asset_server + image_path(site_photo)

- content_for :og_tags do
  = tag "meta", property: "og:url", content: og_url
  = tag "meta", property: "og:type", content: "blog"
  = tag "meta", property: "og:title", content: page_title
  = tag "meta", property: "og:description", content: og_desc
  = tag "meta", property: "og:image", content: og_default_image

%section.container.navbar-top-spacing
  .family-title.column.container--title-area
    %h1 Pleased to meet you!

%section.wide-container
  .family-hero.hero-image.column
    = image_tag data.site.current_family_photo

    .family-hero__caption.hero-image__caption
      %p.caption-text
        The Steele Family<br>Joshua, Kelsie, Abigail, Rebekah, Hosanna,
        Kathryn, David

%section.container.container--spacing
  .column
    .family-bio
      = partial "markdown/family"
