---
pageable: true
per_page: 10
layout: home
---

- page_articles.each_with_index do |article, i|
  .article-preview
    .article-preview__title
      %h2
        = link_to article.title, article

    .article-preview__meta
      - if article.data.author?
        .meta-author
          = twitter_link_for(article.data.author)

      %time.meta-date{datetime: "#{article.date}"}= article.date.strftime("%b %d, %Y")

      %ul.meta-tag-list
        - article.tags.each do |tag|
          %li.meta-tag-item= link_to "#{tag}", tag_path(tag)

    .article-preview__content
      = article.summary
      = link_to "Read more", article

- if paginate && num_pages > 1
  %nav.pagination-links
    - if prev_page
      %span.page-first= link_to "&laquo; First", "/"
      %span.page-prev= link_to "&lsaquo; Prev", prev_page

    %span.page-current #{page_number} of #{num_pages}

    - if next_page
      %span.page-next= link_to "Next &rsaquo;", next_page
      %span.page-last= link_to "Last &raquo;", "/page/#{num_pages}/"
