---
title: Ministry
desc:
  Our highest purpose in life is to follow our Savior, the Lord Jesus Christ.
  We are raising our family in Ukraine, and striving to share the Gospel with
  those around us.
---

:ruby
  site_url = data.site.url
  site_photo = data.site.current_family_photo
  site_asset_server = data.site.asset_server_url
  page_title = current_page.data.title.to_s
  og_url = site_url + current_page.url
  og_desc = current_page.data.desc
  og_default_image = site_asset_server + image_path(site_photo)

- content_for :og_tags do
  = tag "meta", property: "og:url", content: og_url
  = tag "meta", property: "og:type", content: "blog"
  = tag "meta", property: "og:title", content: page_title
  = tag "meta", property: "og:description", content: og_desc
  = tag "meta", property: "og:image", content: og_default_image

.container.navbar-top-spacing
  .column
    %section.ministry-title.container--title-area
      %h1 We live to serve <br>Jesus Christ.

    %section.ministry-intro
      = partial "markdown/ministry-intro"

    %section.ministry-content
      %article.ministry-content__section
        .ministry-content__graphic.eto-logo
          = inline_svg "eto-logo.svg", class: "eto-logo__svg"
        .ministry-content__bio
          = partial "markdown/eto"
        .ministry-content__button
          = link_to "Visit euroteamoutreach.org",
            "https://euroteamoutreach.org/", class: "button"

      %article.ministry-content__section
        .ministry-content__graphic.bible-first-logo
          = inline_svg "bible-first-logo.svg", class: "bible-first-logo__svg"
        .ministry-content__bio
          = partial "markdown/bible-first"
        .ministry-content__button
          = link_to "Visit getbiblefirst.com",
            "https://getbiblefirst.com/", class: "button"

      %article.ministry-content__section
        .ministry-content__graphic.cmo-logo
          = inline_svg "cmo-logo.svg", class: "cmo-logo__svg"
        .ministry-content__bio
          = partial "markdown/cmo"
        .ministry-content__button
          = link_to "Visit cmoproject.org",
            "https://cmoproject.org/", class: "button"
