---
title: Ministry
desc:
  Our highest purpose in life is to follow our Savior, the Lord Jesus Christ.
  We are raising our family in Ukraine, and striving to share the Gospel with
  those around us.
---

- content_for :og_tags do
  - og_image = image_path(data.site.current_family_photo)
  - og_root = "http:" + data.site.asset_server_url

  = tag "meta", property: "og:url", content: data.site.url + current_page.url
  = tag "meta", property: "og:type", content: "blog"
  = tag "meta", property: "og:title", content: current_page.data.title
  = tag "meta", property: "og:description", content: current_page.data.desc
  = tag "meta", property: "og:image", content: og_root + og_image

%section.container.navbar-top-spacing
  .column
    .ministry-title.container--title-area
      %h1 We live to serve <br>Jesus Christ.

    .ministry-intro
      = partial "markdown/ministry-intro"

    .ministry-content
      .ministry-content__section
        .ministry-content__graphic.eto-logo
          = inline_svg "eto-logo.svg", class: "eto-logo__svg"
        .ministry-content__bio
          = partial "markdown/eto"
        .ministry-content__button
          = link_to "Visit euroteamoutreach.org", "http://euroteamoutreach.org/", class: "button"

      .ministry-content__section
        .ministry-content__graphic.bible-first-logo
          = inline_svg "bible-first-logo.svg", class: "bible-first-logo__svg"
        .ministry-content__bio
          = partial "markdown/bible-first"
        .ministry-content__button
          = link_to "Visit getbiblefirst.com", "http://getbiblefirst.com/", class: "button"

      .ministry-content__section
        .ministry-content__graphic.cmo-logo
          = inline_svg "cmo-logo.svg", class: "cmo-logo__svg"
        .ministry-content__bio
          = partial "markdown/cmo"
        .ministry-content__button
          = link_to "Visit cmoproject.org", "http://cmoproject.org/", class: "button"
