---
pageable: true
per_page: 12
---

%section.container.navbar-top-spacing.container--spacing
  .column
    .tag-view__title.container--title-area
      %h1 Articles tagged "#{tagname}"
      %p= link_to "View all tags", "/tags"

    - page_articles.each_with_index do |article, i|
      .article-preview.article-preview--tag-view
        .article-preview__title.article-preview__title--tag-view
          %h3
            = link_to article.title, article

        .article-preview__meta.article-preview__meta--tag-view
          %time.meta-date{datetime: "#{article.date}"}
            = article.date.strftime("%b %d, %Y")

    - if paginate && num_pages > 1
      = partial "partials/pagination",
        locals: { first_page: "#{tag_path(tagname)}",
        last_page: "#{tag_path(tagname)}page/#{num_pages}/" }
